<div class="aboutText">

		<div class="file">
			<h6 class="fileOpen" ui-sref="about">
				<img style="width:20px; height:20px; margin-right:5px" src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Other-html-5-icon.png" alt="">
				aboutMe.html
			</h6>
		</div>

	<div class="lineOfCode">
		1 <i class="material-icons">keyboard_arrow_left</i>
				<span style="color:#fb855f">html</span>
			<i class="material-icons">keyboard_arrow_right</i>
	</div>


	<div class="lineOfCode">
		<span ng-click="showLinesB()" class="minCode">2</span>
			<i class="material-icons">keyboard_arrow_left</i>
				<span style="color:#fb855f">body</span>
			<i class="material-icons">keyboard_arrow_right</i>
	</div>
	<div ng-hide="hideLinesB">
	<div class="lineOfCode">
		3 <i class="material-icons" style="margin-left:20px">keyboard_arrow_left</i>
				<span style="color:#fb855f">header</span>
			<i class="material-icons">keyboard_arrow_right</i>

				Andy Ty Nguyen Front End Developer

			<i class="material-icons">keyboard_arrow_left</i>
					<span style="color:#fb855f">/header</span>
			<i class="material-icons">keyboard_arrow_right</i>
	</div>

	<div class="lineOfCode">
		<span ng-click="showLinesA()" class="minCode">4</span>
			<i class="material-icons" style="margin-left:20px">keyboard_arrow_left</i>
				<span style="color:#fb855f">article</span>
			<i class="material-icons">keyboard_arrow_right</i>
	</div>

	<span ng-click="showLinesA()" class="lineOfCodeSpacing" ng-hide="!hideLinesA" style="color:purple; font-size:15px; cursor:pointer;">***</span>

<div ng-hide="hideLinesA">
	<div class="lineOfCode">
		<span ng-click="showLinesP()" class="minCode">5</span>

		<i class="material-icons" style="margin-left: 30px;">keyboard_arrow_left</i>
				<span style="color:#fb855f">p</span>
		<i class="material-icons">keyboard_arrow_right</i>
	</div>

	<div ng-hide="false" class="lineOfCode">
		<span ng-click="showLinesP()" class="lineOfCodeSpacing" ng-hide="!hideLinesP" style="color:purple; font-size:15px; cursor:pointer;">***</span>
	</div>

	<div ng-hide="hideLinesP">

		<div class="lineOfCode">
			6 <span class="lineOfCodeSpacing">A little about myself. I'm from Tucson, Arizona, born and raised.</span>
		</div>

		<div class="lineOfCode">
			7 <span class="lineOfCodeSpacing">While pursuing a nursing degree at the University of Arizona, I </span>
		</div>
		<div class="lineOfCode">
			8 <span class="lineOfCodeSpacing">discovered an apptitude for code. When I wasn't studying the human </span>
		</div>
		<div class="lineOfCode">
			9 <span class="lineOfCodeSpacing"> anatomy, I was teaching myself how to create beautiful/functional </span>
		</div>
		<div class="lineOfCode">
			10 <span style="margin-left:60px"> applications. As far as that goes I've built many applications that I thought would be great practice </span>
		</div>
		<div class="lineOfCode">
			11 <span style="margin-left:60px">I've also built some applications with some of my friends just for the heck of it.</span>
		</div>

		<div class="lineOfCode">
			12 <span style="margin-left:60px">
					What I am doing currently is going to my University and persuing a degree in Computer Science
				</span>
		</div>

		<div class="lineOfCode">
			13 <span style="margin-left:60px">
					But besides from that when I'm not coding I enjoy the outdoors, good food, and discovering an interest.
				</span>
		</div>
	</div>

	<div class="lineOfCode">
		14 <i class="material-icons" style="margin-left: 30px;">keyboard_arrow_left</i>
				<span style="color:#fb855f">
					/p
				</span>
			 <i class="material-icons">keyboard_arrow_right</i>
	</div>
</div>
	<div class="lineOfCode">
		15 <i class="material-icons" style="margin-left:20px">keyboard_arrow_left</i>
				<span style="color:#fb855f">/article</span>
			<i class="material-icons">keyboard_arrow_right</i>
	</div>


	<div class="lineOfCode">16 </div>
	<div class="lineOfCode">17 </div>
	<div class="lineOfCode">
		<span ng-click="showLinesS()" class="minCode">18</span>
		<i class="material-icons" style="margin-left: 20px;">keyboard_arrow_left</i>
				<span style="color:#fb855f">section</span>
		<i class="material-icons">keyboard_arrow_right</i>
	</div>

	<div ng-hide="hideLinesS" class="lineOfCode">19 </div>
<span ng-click="showLinesS()" class="lineOfCodeSpacing" ng-hide="!hideLinesS" style="color:purple; font-size:15px; cursor:pointer;">***</span>



	<div ng-hide="hideLinesS" class="lineOfCode">20 <span style="margin-left:50px">List Of Skills:</span></div>
	<div ng-hide="hideLinesS" class="lineOfCode">21 <span style="margin-left:50px">HTML, CSS, JS, ES6,</span></div>
	<div ng-hide="hideLinesS" class="lineOfCode">22 <span style="margin-left:50px">Jquery, Angular 1x, React,</span></div>
	<div ng-hide="hideLinesS" class="lineOfCode">23 <span style="margin-left:50px">Gulp, Webpack</span></div>
	<div ng-hide="hideLinesS" class="lineOfCode">24 <span style="margin-left:50px">Node, Express, PostgreSql, SQL, Massive,</span></div>
	<div ng-hide="hideLinesS" class="lineOfCode">25 <span style="margin-left:50px">LESS, SASS,</span></div>
	<div ng-hide="hideLinesS" class="lineOfCode">27 <span style="margin-left:50px">Bootstrap, Flex, Materialize, Foundation</span></div>
	<div ng-hide="hideLinesS" class="lineOfCode">26 </div>
	<div class="lineOfCode">
		27<i class="material-icons" style="margin-left:20px">keyboard_arrow_left</i>
				<span style="color:#fb855f">/section</span>
			<i class="material-icons">keyboard_arrow_right</i>
	</div>
	<div class="lineOfCode">28 </div>
	</div>
	<span ng-click="showLinesB()" class="lineOfCodeSpacing" ng-hide="!hideLinesB" style="color:purple; font-size:15px; cursor:pointer;">***</span>




	<div class="lineOfCode">
		29 <i class="material-icons">keyboard_arrow_left</i>
				<span style="color:#fb855f">/body</span>
			<i class="material-icons">keyboard_arrow_right</i>
	</div>
	<div class="lineOfCode">
		30  <i class="material-icons">keyboard_arrow_left</i>
				<span style="color:#fb855f">/html</span>
			<i class="material-icons">keyboard_arrow_right</i>
	</div>

	<div class="lineOfCode">31</div>
	<div class="lineOfCode">32</div>
	<div class="lineOfCode">33</div>
	<div class="lineOfCode">34</div>
	<div class="lineOfCode">35</div>
	<div class="lineOfCode">36</div>
	<div class="lineOfCode">37</div>

</div>
