<div class="aboutText">

		<div class="file">
			<h6 class="fileOpen" ui-sref="about">
				<i class="material-icons" style="margin-right:10px; color:#19b0dd">assignment</i>
				contact.readMe
			</h6>
		</div>

		<div class="lineOfCode">1</div>
		<div class="lineOfCode">2<span style="margin-left:30px;">##Contact Information</span></div>
		<div class="lineOfCode">3</div>
		<div class="lineOfCode">
			4<span style="margin-left:30px;">
				 <i class="material-icons" style="margin-right:10px">local_phone</i> 520-891-6264
			</span>
		</div>
		<div class="lineOfCode">5</div>
		<div class="lineOfCode">
			6<span style="margin-left:30px;">
				 <i class="material-icons" style="margin-right:10px">email</i> andyt.nguyen123@gmail.com
			</span>
		</div>
		<div class="lineOfCode">7</div>
		<div class="lineOfCode">
			8
			<span style="margin-left:30px;">
				<a href="./andytysresume1.pdf" target="_blank">
					<i class="material-icons" style="margin-right:10px">attachment</i>
					<span style="color:white">View/Download Resume</span>
				</a>
		</span></div>
		<div class="lineOfCode">9</div>
		<div class="lineOfCode">
			10
			<span style="margin-left:30px;">
				<a href="https://github.com/Andyt-Nguyen?tab=repositories">
					<img src="../images/github.ico" width='30px' style="margin-right:10px">
				</a>

				<a href="https://www.linkedin.com/in/andynguyen21/">
					<img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png" width='30px' style="margin-right:10px">
				</a>
			</span>
		</div>
		<div class="lineOfCode">12</div>
		<div class="lineOfCode">13</div>
		<div class="lineOfCode">14</div>
		<div class="lineOfCode">15</div>
		<div class="lineOfCode">16</div>
		<div class="lineOfCode">17</div>
		<div class="lineOfCode">18</div>
		<div class="lineOfCode">19</div>
		<div class="lineOfCode">20</div>
		<div class="lineOfCode">21</div>
		<div class="lineOfCode">22</div>
		<div class="lineOfCode">23</div>
		<div class="lineOfCode">24</div>
		<div class="lineOfCode">25</div>
		<div class="lineOfCode">26</div>
		<div class="lineOfCode">27</div>
		<div class="lineOfCode">28</div>
		<div class="lineOfCode">29</div>
		<div class="lineOfCode">30</div>
		<div class="lineOfCode">31</div>
		<div class="lineOfCode">32</div>
		<div class="lineOfCode">33</div>
		<div class="lineOfCode">34</div>
		<div class="lineOfCode">35</div>
		<div class="lineOfCode">36</div>
		<div class="lineOfCode">37</div>
</div>
