<div class="projectWrapper">
	<div class="file">
		<h6 class="fileOpen" ui-sref="about">
			<img style="width:20px; height:20px; margin-right:5px" src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Other-html-5-icon.png" alt="">
			projects.html
		</h6>
	</div>
		<div class="projects">
			<div class="projectList">

				<div class="superImageWrapper">
					<a href="http://andy-youtubeapp.surge.sh/" target="_blank">
						<div class="img__wrap">
							<img class="img__img" src="../images/youtubeClone1.png" />
							<div class="img__description_layer">
								<p class="img__description">Youtube Clone</p>
								<p class="img__description">React, React Redux, Axios</p>
								<p class="img__description">Redux-Thunk, Jquery</p>
							</div>
						</div>
					</a>
				</div>


				<div class="superImageWrapper">
					<a href="http://clonenike.com/#!/" target="_blank">
						<div class="img__wrap">
							<img class="img__img" src="../images/nike1.png" />
							<div class="img__description_layer">
								<p class="img__description">Nike Clone:FullStackApp</p>
								<p class="img__description">
									 Node, Express, Postgres, Angular 1x, Flex, Auth0,
								</p>
								<p class="img__description">
									 PostgreSql, SQL, Jquery, Gulp, HTML, CSS
								</p>
							</div>
						</div>
					</a>
				</div>

				<div class="superImageWrapper">
					<a href="http://penguindocs.com/#!/docslanding" target="_blank">
						<div class="img__wrap">
							<img class="img__img" src="../images/peng4.png" />
							<div class="img__description_layer">
								<p class="img__description">GoogleDocs Clone:Group Project</p>
								<p class="img__description">Angular1x, Express, Auth0, Massive, Node</p>
								<p class="img__description">PostgreSql, SQL, Quill, Jquery, Flex</p>
							</div>
						</div>
					</a>
				</div>

				<div class="superImageWrapper" class="superImageWrapper">
					<a href="https://github.com/Andyt-Nguyen/ionic-nike/tree/master" target="_blank">
						<div class="img__wrap">
							<img class="img__img" src="../images/ionic.png" />
							<div class="img__description_layer">
								<p class="img__description">
									NikeClone: Ionic
								</p>
								<p class="img__description">
									Mobile App, Ionic
								</p>
							</div>
						</div>
					</a>
				</div>


				<div class="superImageWrapper" class="superImageWrapper">
					<a href="http://ragged-secretary.surge.sh/#!/trends" target="_blank">
						<div class="img__wrap">
							<img class="img__img" src="../images/youtube1.png" />
							<div class="img__description_layer">
								<p class="img__description">
									Mini Youtube:
								</p>
								<p class="img__description">
									Old Project I Built When I Was Learning How To Code
								</p>
								<p class="img__description">
									Angular 1x, Jquery, Boostrap, Scss
								</p>
								<p class="img__description">
									Gulp, HTML, CSS
								</p>
							</div>
						</div>
					</a>
				</div>


				<div class="superImageWrapper">
					<a href="http://modern-geese.surge.sh/" target="_blank">
						<div class="img__wrap">
							<img class="img__img" src="../images/calc-react.png" />
							<div class="img__description_layer">
								<p class="img__description">Calculator</p>
								<p class="img__description">React</p>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>
</div>
