<h6 class="projectTitle">Project</h6>
<h6 style="cursor:pointer" class="folderOpen">
	<i class="material-icons" style="margin-right:10px;">folder_open</i>
	<span ng-click="ctaFolders()">Portfolio</span>
</h6>

	<div ng-hide="hideFolders">
		<h6 style="cursor:pointer" class="openedProject" ui-sref="about">
			<img style="width:30px; height:30px; margin-right:5px;" src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Other-html-5-icon.png" alt="">
			aboutMe.html
		</h6>

		<h6 style="cursor:pointer" class="openedProject" ui-sref="contact">
			<i class="material-icons" style="margin-right:10px; color:#19b0dd">assignment</i>
			contact.readMe
		</h6>

		<h6 style="cursor:pointer" class="openedProject" ui-sref="projects">
			<img style="width:30px; height:30px; margin-right:5px;" src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Other-html-5-icon.png" alt="">
			projects.html
		</h6>

	</div>
